---
import { IconHeartFilled } from "@tabler/icons-react"
---

<footer class="footer text-muted">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-8 text-center text-lg-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        Powered by <a href="https://astro.build">Astro</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 text-center text-lg-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        Made with&nbsp;<span style="color:#e25555"><IconHeartFilled size={23} /></span>&nbsp;by Jarva
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
