---
import type { GenericCollectionEntry } from '../../utils/sidebar';

interface Props {
    active: boolean,
    entry: GenericCollectionEntry
}

const { entry, active } = Astro.props;

const { title } = entry.data;
---

<li>
    <a href={`/${entry.collection}/${entry.slug}`} class={`docs-link rounded${active ? ' active' : ''}`}>{title}</a>
</li>
