// Put your custom SCSS code here
.startup-scripts {
    color: #26b36c !important;
}

.client-scripts {
    color: #e67e23 !important;
}

.server-scripts {
    color: #b96ad9 !important;
}

table {
    margin: 1.5rem 0;
}

.footnotes hr {
    display: none;
}
